---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"ed19b209771c3e6d10e035fa566f54d8"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":25892,"draftees_count":164,"likes_count":33616,"likes_received_count":18992,"comments_count":2578,"comments_received_count":2921,"rebounds_count":30,"rebounds_received_count":270,"url":"http://dribbble.com/simplebits","avatar_url":"http://dribbble.s3.amazonaws.com/users/1/avatars/normal/dc.jpg?1371675643","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":209,"following_count":1694,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Sat, 19 Oct 2013 05:46:49 GMT
[...]
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3370745796331dcda2b082cb2405b82d"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":25910,"draftees_count":164,"likes_count":33621,"likes_received_count":18993,"comments_count":2578,"comments_received_count":2921,"rebounds_count":30,"rebounds_received_count":270,"url":"http://dribbble.com/simplebits","avatar_url":"http://dribbble.s3.amazonaws.com/users/1/avatars/normal/dc.jpg?1371675643","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":209,"following_count":1695,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Sat, 19 Oct 2013 16:55:39 GMT
recorded_with: VCR 2.6.0
